.container-fluid{
  margin-top: 20px;
  padding:20px;
}

h1  {
  text-align: center;
  font-size: 55px;
  padding: 20px;
}

.green {
  padding:10px;
  background-color:green;
  height: 100px;
  width: 300px;
  border: 4px solid black;
  margin: 10px;
}
.green-active{
  background-color: darkgreen !important;
}
.blue {
  padding:10px;
  background-color: blue;
  height: 100px;
  width: 300px;
  border: 4px solid black;
  margin: 10px;
}
.blue-active {
  background-color: darkblue !important;
}
.yellow {
  padding:10px;
  background-color: yellow;
  height: 100px;
  width: 300px;
  border: 4px solid black;
  margin: 10px;
}
.yellow-active {
  background-color: orange !important;
}
.red {
  padding:10px;
  background-color: red;
  height: 100px;
  width: 300px;
  border: 4px solid black;
  margin: 10px;
}

.red-acive {
  background-color: darkred !important;
}
#start {
  float: right;
}

#replay {
  float: left;
}
